<div class="register-form">
    <div *ngIf="error == true"  class="alert alert-danger" role="alert">
        {{mensagem}}
    </div>
    <form class="d-flex flex-column justify-content-between">
        <div class="form-group mb-4">
            <div class="d-flex align-items-center a">
                <label for="endereco"> Cliente_ID</label> :
                <input type="number" [(ngModel)]="clienteId" name="endereco" class="form-control"
                  id="endereco" placeholder="Digite o ID do Cliente"> <br>
              </div>              
        </div>
        <button  type="button" (click)="create()" class="w-30 btn btn-success">Cadastrar</button> 
    </form>
</div>