<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="w-50 h-100">
    <div class="d-flex justify-content-between mb-3">
      <h3>Lista de Atributo</h3>
      <button type="button" (click)="adicionar(cadastro)" class="btn btn-success">CREATE</button>
    </div>
    <table class="table table-striped w-100">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nome do Sabor</th>
          <th scope="col">Lista de Ingredientes</th>
          <th d-flex justify-center scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sabor of lista; let i = index">
          <th scope="row">{{ sabor.id }}</th>
          <td>{{ sabor.nome }}</td>
          <td>{{ sabor.componentes }}</td>
          <td>
            <button class="btn btn-primary" (click)="editar(cadastro , sabor, i)">Editar</button> -
            <button class="btn btn-danger" (click)="delete(sabor.id)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #cadastro let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Sabor</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-sabor-details [sabor]="SelecionadaParaEdicao" (retorno)="addOuEditar($event)"></app-sabor-details>
  </div>
</ng-template>