.win{
    width: 45vw;
    height: 80vh;
    padding:  0 80px;
    border: 0.5px rgb(163, 163, 163) solid;   
    border-radius: 10px;

}

button{
    font-size: 18px; 
}

.login{
    width: 50vw;
    height: 100vh;
}

.red{
    margin-left: 7px;
    color: red;
}

.img{
    width: 50vw;
    background-image: url('./assets/Opera\ Instantâneo_2023-10-12_172316_portal.ifood.com.br.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-left:40px ;
    background-image: url('./assets/Opera\ Instantâneo_2023-10-12_174249_portal.ifood.com.br.png');
    background-repeat: no-repeat;
    box-sizing: border-box;
}