h2{
    margin-bottom: 50px;
}

p{
    padding: 0px;
    margin: 0px;
}

input{
    border-radius: 5px;
}

button{
    margin-top: 2vh;
    width: 15vw;
    font-size: 20px;
}

.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(204, 204, 204);
}   
.main{
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 40vw;
    height: 40vh;
    border: 1px solid rgb(196, 195, 195);
    box-shadow: 5px 5px 5px rgb(119, 119, 119);

}

