<div class="background d-flex">
    <div class="img ">
        <img src="./assets/Pizza-Ifood.jpg" alt="">
    </div>
    <div class="d-flex login align-items-center justify-content-center">
        <div class=" win ">
            <div class="logo"></div>
            <br>
            <article class="d-flex  flex-column">
                <div>
                    <h3>Portal do Parceiro</h3>
                    <h5>Gerencie sua loja de forma fácil e rápida</h5>
                </div>
            </article>
            <form class="d-flex flex-column form-signin form-control">
                <br>
                <div class="mt-3">
                    <label for="user" class="sr-only">E-mail</label>
                    <input type="text" id="user" [(ngModel)]="usuario.email" name="login" class="form-control"
                        placeholder="E-mail" required="" autofocus="">
                </div>
                <div class="mt-3 mb-4">
                    <label for="senha" class="sr-only">Senha</label>
                    <input type="password" id="senha" [(ngModel)]="usuario.senha" name="senha" class="form-control"
                        placeholder="Senha" required="">
                </div>
                <br>
                <button class="btn btn-lg btn-danger btn-block" (click)="login()" type="submit">Avançar</button>
                <br><br>
                <p class="d-flex align-items-center justify-content-center">Ainda não tem cadastro?
                    <a class="red " routerLink="/signup">Cadastre sua loja</a>
                </p>
            </form>
        </div>
    </div>
</div>