<body>
    <div class="container">

        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Conecte-se</h1>
                    </div>
                </div>
                <div>
                    <h3>Portal do Parceiro</h3>
                    <h5>Gerencie sua loja de forma fácil e rápida</h5>
                </div>
                <br>
                <div class="input-group">
                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input type="text" id="user" [(ngModel)]="usuario.email" name="login" placeholder="Digite seu e-mail" required>
                        <label for="password">Senha</label>
                        <input type="password"  id="senha" [(ngModel)]="usuario.senha" name="senha" placeholder="Digite sua senha" required>
                    </div>
                </div>
                <div class="continue-button">
                    <button class="btn btn-danger" (click)="login()" type="submit"><a>Continuar</a> </button>
                </div>
                <br><br>
                <p class="d-flex align-items-center justify-content-center">Ainda não tem cadastro?
                    <a class="red " routerLink="/signup">Cadastre sua loja</a>
                </p>
            </form>
        </div>
        <div class="form-image">
        </div>
    </div>
</body>