<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="w-50 h-100">
    <div class="d-flex justify-content-between mb-3">
      <h3>Lista de Cliente</h3>
      <button type="button" (click)="adicionar(form)" class="btn btn-success">CREATE</button>
    </div>
    <table class="table table-striped w-100">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nome</th>
          <th scope="col">Password</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of lista; let i = index">
          <th scope="row">{{ cliente.id }}</th>
          <td>{{ cliente.username }}</td>
          <td>**********</td>
          <td>
            <button class="btn btn-primary" (click)="editar(form, cliente, i)">Editar</button> -
            <button class="btn btn-danger" (click)="delete(cliente.id)">Deletar</button> -
            <button class="btn btn-outline-secondary" (click)="adicionar(info)" (click)="findById(cliente.id)">..</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #form let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Pessoa</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-cliente-details [cliente]="SelecionadoParaEdicao" (retorno)="addOuEditar($event)"></app-cliente-details>
  </div>
</ng-template>

<ng-template #info let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Endereco Cliente</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center flex-column align-items-center">
      iD: {{find.endereco.id }}
      CEP: {{find.endereco.cep }}
      RUA: {{find.endereco.rua }}
      BAIRRO: {{find.endereco.bairro }}
      NUMERO: {{find.endereco.numero }}
    </div>
  </div>
</ng-template>