<header class="ifood-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" routerLink="client">
                <img src="https://img.freepik.com/vetores-premium/ilustracao-em-vetor-logotipo-pizza-pixel_7688-994.jpg"
                    alt="iFood Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav ">
                        <a class="nav-link nav-red" routerLink="produto"> Produtos</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link nav-red" routerLink="pedido"> Pedido</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ">Entrega</a>
                    </li>
                    
                </ul>
            </div>
            <ul class="navbar-nav gap ml-auto">
                <li class="nav-item">
                    <a (click)="toggleProfileMenu()" class="nav-link perfil" [ngClass]="{'active': showProfileMenu}"></a>
                  </li>
                <li class="nav-item carrinho">
                    <a   class="nav-link" ></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="d-flex d " >
    <app-cliente-dateils-interface [ngClass]="{ 'visible': showProfileMenu, 'profile-menu-enter': showProfileMenu, 'profile-menu-leave': !showProfileMenu }"></app-cliente-dateils-interface>
</div>

<div class="verd">
   <span class="abc"></span>  <h2>Você tem 36 cupons! Aproveite seus descontos    </h2>
</div>