<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="w-0 h-100">
    <div class="d-flex justify-content-between mb-3 ab" >
      <h3>Lista de Cliente</h3>  
      <button type="button" (click)="adicionar(form)" class="btn btn-success">CREATE</button>
    </div>
    <table class="table table-striped w-100">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nome</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of lista; let i = index">
          <th scope="row">{{ pedido.id }}</th>
          <td>{{ pedido.cliente.username }}</td>
          <td>
            <button class="btn btn-outline-secondary" (click)="selectPedido(pedido.id)"
              (click)="adicionar(Carrinho)">🛒</button>-

            <button class="btn btn-outline-primary" (click)="adicionar(info)" (click)="go(pedido.id)">Info</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #form let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Item</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-pedido-details [pedido]="SelecionadoParaEdicao" (retorno)="addOuEditar($event)"></app-pedido-details>
  </div>
</ng-template>

<ng-template #Carrinho let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Pessoa</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-item-details [pedidoId]="selectedPedidoId"></app-item-details>
  </div>
</ng-template>


<ng-template #info let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center flex-column align-items-center">
      <div class="container">
        <h4 class="d-flex justify-content-center align-items-center">Detalhes do Pedido #ID: {{ pedido.id }}</h4>

        <br><br>
        <div class="row">
          <div class="col">
            <h4><strong>Informações do Cliente </strong></h4>
            <br>
            <div class="d-flex a ">
              <p><strong>Nome:</strong> {{ pedido.cliente.username }}</p>
            </div>

            <div class="d-flex a ">
              <h6><strong>Endereço: </strong></h6>
              <p><strong>Rua:</strong> {{ pedido.cliente.endereco.rua }}</p>
              <p><strong>Bairro:</strong> {{ pedido.cliente.endereco.bairro }}</p>
              <p><strong>Número:</strong> {{ pedido.cliente.endereco.numero }}</p>
            </div>
          </div>
          <br> <br>

          <div>
            <div class="col">
              <h3 class="text-center">Itens do Pedido</h3>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of pedido.items">
                  <div>
                    --------------------------------------------------------------------------------------------------------------
                  </div>
                  <div class="item-details ">
                    <div class="d-flex a">
                      <h5><strong>Produto: </strong></h5> <p class="item-name"> {{ item.produto.nome }}</p>
                    </div>
                    <p><strong>Quantidade:</strong> {{ item.quantidade }}</p>
                    <h5><strong>Atributo Específico</strong> </h5>
                    <div class="d-flex">
                      <p><strong>Tamanho</strong> - {{ item.atributoEspecifico.tamanho }} - <strong> Descrição -</strong>
                        - {{ item.atributoEspecifico.descricao }} - <strong> Preço</strong> - R${{
                        item.atributoEspecifico.preco }},00</p>
                    </div>
                    <h5> <strong>Sabores</strong></h5>
                    <ul class="list-unstyled">
                      <li *ngFor="let sabor of item.sabors">
                        {{ sabor.nome }} - Componentes: {{ sabor.componentes.join(', ') }}
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <div>
                --------------------------------------------------------------------------------------------------------------
              </div>

              <h3 class="text-center">Detalhes do Pedido</h3>
              <div class="order-details">
                <h4><strong>Valor Total:</strong> R${{ pedido.valorTotal }},00</h4>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</ng-template>