<div class="register-form">
    <div *ngIf="error == true"  class="alert alert-danger" role="alert">
        {{mensagem}}
    </div>
    <form class="d-flex flex-column justify-content-between">
        <div class="form-group mb-4">
            <div class="d-flex align-items-center a">
                <label for="nome">Nome </label> :
                <input type="text" [(ngModel)]="cliente.username" name="nome" class="form-control" id="nome"
                    placeholder="Digite seu nome">
            </div>
            <div class="d-flex align-items-center a">
                <label for="senha">Senha </label> :
                <input type="text" [(ngModel)]="cliente.password" name="senha" class="form-control" id="tamanho"
                    placeholder="Digite seu senha"> <br>
            </div>

            <div class="d-flex align-items-center a" *ngIf="cliente.id > 0">
                <label for="endereco"> Endereco Id</label> :
                <input type="number" [(ngModel)]="enderecoId" name="endereco" class="form-control"
                  id="endereco" placeholder="Digite o ID do endereço"> <br>
              </div>              
        </div>
        <button *ngIf="cliente.id == null" type="button" (click)="create()" class="w-30 btn btn-success">Cadastrar</button> 
        <button *ngIf="cliente.id > 0" type="button" (click)="update()" class="w-30 btn btn-success">Salvar</button>
    </form>
</div>