<div class="d-flex justify-content-center align-items-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light center">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="btn nav-item btn-warning">
                        <p class="active" routerLink="/admin/atributo-adm">Atributo</p>
                    </li>
                    <li class="btn nav-item btn-warning">
                        <p class="active" routerLink="/admin/cliente-adm">Cliente</p>
                    </li>
                    <li class="btn nav-item btn-warning">
                        <p class="active" routerLink="/admin/endereco-adm">Endereco</p>
                    </li>
                    <li class="btn nav-item btn-warning">
                        <p class="active" routerLink="/admin/pedido-adm">Pedido</p>
                    </li>
                    <li class="btn nav-item btn-warning">
                        <p class="active" routerLink="/admin/produto-adm">Produto</p>
                    </li>
                    <li class="btn nav-item btn-warning">
                        <p class="active" routerLink="/admin/sabor-adm">Sabor</p>
                    </li>
                    <li class="btn nav-item btn-danger">
                        <p class="active " routerLink="/login">Sair</p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>