<div class="d-flex justify-content-center  a">
    <div>
        <h2>Meus dados</h2>
    </div>
    <br>
    <div>
        <li (click)="editar(edicao)" class="user-info-edit-container__option-list">
            <div class="user-info-edit-container__title-container">
                <strong class="user-info-edit-container__title">Informações pessoais</strong><br>
                <span class="user-info-edit-container__description">Nome completo, E-mail, ...</span>
            </div>
            <svg width="20px" height="20px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                    <g transform="translate(-144.000000, -1296.000000)" stroke="#ea1d2c" stroke-width="3">
                        <g transform="translate(47.000000, 1227.000000)">
                            <g id="Seta-voltar" transform="translate(97.000000, 69.000000)">
                                <polyline id="Path-6"
                                    transform="translate(23.500000, 23.500000) rotate(-90.000000) translate(-23.500000, -23.500000)"
                                    points="6 16 23.5 31 41 16">
                                </polyline>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </li>
        <br>

        <li class="user-info-edit-container__option-list">
            <div class="user-info-edit-container__title-container">
                <strong class="user-info-edit-container__title">Informações Endereco</strong><br>
                <span class="user-info-edit-container__description">Rua, Bairro, Número, ...</span>
            </div>
            <span class="icon-marmita icon-marmita--arrow-right-thin user-info-edit-container__icon">
            </span>
            <svg width="20px" height="20px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                    <g transform="translate(-144.000000, -1296.000000)" stroke="#ea1d2c" stroke-width="3">
                        <g transform="translate(47.000000, 1227.000000)">
                            <g id="Seta-voltar" transform="translate(97.000000, 69.000000)">
                                <polyline id="Path-6"
                                    transform="translate(23.500000, 23.500000) rotate(-90.000000) translate(-23.500000, -23.500000)"
                                    points="6 16 23.5 31 41 16">
                                </polyline>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </li>
    </div>
</div>


<ng-template #edicao let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar Pessoa</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form class="d-flex flex-column justify-content-between" (ngSubmit)="salvarEdicao()">
        <div class="form-group mb-4">
            <label for="nome">Nome:</label>
            <input type="text" [(ngModel)]="model.nome" name="nome" class="form-control" id="nome" placeholder="Digite seu nome">
        </div>
        <div class="form-group mb-4">
            <label for="senha">Senha:</label>
            <input type="text" [(ngModel)]="model.senha" name="senha" class="form-control" id="senha" placeholder="Digite sua senha">
        </div>
        <div class="form-group mb-4">
            <label for="email">Email:</label>
            <input type="email" [(ngModel)]="model.email" name="email" class="form-control" id="email" placeholder="Digite seu email">
        </div>
        <div class="form-group mb-4">
            <label for="telefone">Telefone:</label>
            <input type="text" [(ngModel)]="model.telefone" name="telefone" class="form-control" id="telefone" placeholder="Digite seu telefone">
        </div>


        <button type="submit"  class="w-30 btn btn-success">Salvar</button>
    </form>
    </div>
  </ng-template>